$cl-text: #000;
$cl-bg-title-posts:rgb(255, 255, 255, 0.6);
$cl-text-description: rgba(0, 0, 0, 0.7);
$cl-bg-btn:#ef5350;
$cl-text-btn:#fff;
$cl-date:#ef5350;
$cl-bg-login:#f44336;
$cl-text-login:rgba(0, 0, 0, 0.5);
$cl-text-author:#f44336;
$cl-main: #000;
$cl-text-main: #fff